html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
margin-right: 0;
padding:0 1em;
}

.navbar-nav {
align-items: center;
}

.navbar .navbar-nav .nav-link{
    padding: 0 1em;
    color: dimgrey;
}

.dropdown-menu .dropdown-item {
    color: dimgrey;
}

.footer {
    background-color: #607491;
    color: white;
}
